.App {
  text-align: center;
  width:100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.ap-home{
  display:none
}
.ap-f{
  display:none
}
body{
  position:absolute;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.topNav{
  display:flex;
  font-size:14px;
  font-family:sans-serif;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height:50px;
  width:100%;
  border-bottom: 1px solid #e1e1e1;
}

.nav-side{
  display:flex;
  flex-direction: row;
}
.nav-btn{
  display:flex;
  flex-direction: row;
  font-weight:bold;
}
.nav-btn>li{
  list-style: none;
  padding:15px;
}
.profile{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Banner{
  padding-top:25px;
  position: relative;
  width:auto;
  margin:auto;
  overflow:hidden
}
.Banner-wrapper{
  display:flex;
  width:385%;
  height:300px;
}
.inner{
  position: relative;
  width:auto;
  height:auto;
  align-items: center;
}
.info{
  position:absolute;
  bottom:28px;
  width:330px;
  height:146px;
  border-radius:4px;
  background-color:#fff;
  opacity:9;
  text-align:left;
  left:34px;

}
.info>span,h2,h3{
  margin-left:20px;
  margin-right:20px;
  font-size:20px;

}
.info>h2{
  margin-top:20px;
  font-weight:700;
  color:#333;
}
.info>h3{
  font-weight:500;
  font-size:14px;

}
.content{
  position: relative;
  display:inline-block;
  left:-11.75%;
  margin: 0 10px 0 10px;
}
.content>img{

  display:flex;
  border-radius:4px;
  filter: brightness(50%);
  width:100%;
  height:300px;
  object-fit:cover;
}
.banner-btn{
  position: relative;
  width:100%;
  height:100%;

}
.banner-btn>button{
  display:flex;
  justify-content: center;
  align-items:center;
  position:absolute;
  top:-180px;
  width:30px;
  height:60px;
  opacity: .5;
  border-radius:15px;
  background-color:#fff;
  font-size:16px;

}
#prev{
  left:calc((100% - 1210px) / 2);
}
#next{
  right:calc((100% - 1200px) / 2);
}

.profile>div{
  margin-right:15px;
}

#profile-btn{
  font-size:13px;
  color: #666;
  line-height:30px;
  height:30px;
  border:1px solid #e1e2e3;
  border-radius : 15px;
  padding: 0 10px;
  font-weight:400;

}

#side>div{
  margin:0 30px;
}
@media screen and (max-width:1120px){
  .content>img{
    height: 170px;
    width:100%;
  }
}
@media screen and (max-width:1085px){
  .topNav{
    height:100px;
    flex-direction: column;
    width:100%;
    align-items: flex-start;
    padding:10px;
    margin-top:10px;

  }
  .logo{
    padding:0 15px;
  }
  #side{
    padding-top:10px;
  }
  #side>div{
    margin:0;
  }
  .ap-f{
    display:flex;
  }
  #side{
    width:100%;
    justify-content: space-between;
  }
  .dp-f{
    display: none;
  }

  .info{
    left:0px;
    bottom:-18px;
    width:100%;

    text-align:center;
    border-radius: 0px;
  }
  .info>h2{
    margin-top:20px;
    font-size:18px;
    line-height:1;
    font-weight:700;
    color:#333;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
  }
  .info>h3{
    margin-top:6px;
    font-size:13px;
    font-weight:500;
    line-height:1.15;
    color : #666;

  }
}

@media screen and (max-width:758px) {
  .dp {
    display: none;
  }

  .ap-home {
    display: flex;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
